@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

@font-face {
  font-family: "UbuntuSans";
  src: url("@/assets/fonts/UbuntuSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GoogleSansCode";
  src: url("@/assets/fonts/GoogleSansCode-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans";
  src: url("@/assets/fonts/PTSans-Regular.ttf") format("truetype");
}

*, html, body {
  font-family: "PTSans", "GoogleSansCode", "UbuntuSans", sans-serif, serif, courier;
  font-style: normal;
}